.contact_form {
  background-color: lightblue;
  padding-left: 20px;
  padding-bottom: 20px;
  
}

code {
  font-style: oblique;
  font-weight: bold;

}

form h5 {
  font-style: oblique;  
  margin-bottom: 10px;
  margin-top: 1px;
}

form textarea {
  width: 400px;
  height: 200px
  margin-left: 50px;
}

input[type="submit"] {
  margin-left: -50px;   
}



